<h1><%= t("confirm") %></h1>
<p>
  <%= t("order_not_yet_placed") %>
</p>

	<%= render :partial => 'shared/order_details', :locals => {:order => @order} -%>
<div class="form-buttons">
  <%= button_to t('place_order'), "/orders/#{@order.number}/paypal_finish?token=#{params[:token]}&PayerID=#{params[:PayerID]}", :class => "button primary" %>

</div>




<pre>
<%= @ppx_details.to_yaml %>
</pre>