<fieldset>
  <legend><%= t('paypal_account') %></legend>

  <table class="index">
    <tr>
      <th colspan="6"><%= t('account_details') %></th>
    </tr>
    <tr>
      <td><label><%= t("email") %>:</label></td>
      <td>
        <%= payment.source.email %>
      </td>
      <td><label><%= t("payer_id") %>:</label></td>
      <td>
        <%= payment.source.payer_id %>
      </td>
      <td><label><%= t("payer_country") %>:</label></td>
      <td>
        <%= payment.source.payer_country %>
      </td>
    </tr>
    <tr>
      <td><label><%= t("payer_status") %>:</label></td>
      <td colspan="5">
        <%= payment.source.payer_status %>
      </td>
    </tr>
  </table>
</fieldset>

<fieldset>
  <legend><%= t('transactions') %></legend>

  <% payment.log_entries.reverse.each do |log| %>
  <% details = YAML.load(log.details) %>
    <table class="index">
      <tr>
        <th colspan="6"><%= t('transaction') %> <%= details.params["transaction_id"] %> -  <%= log.created_at.to_s(:date_time24) %></th>
      </tr>
      <tr>
        <td width="12%;"><label><%= t('type') %>:</label></td>
        <td width="20%;">
          <%= details.params["transaction_type"] %>
        </td>
        <td width="8%;"><label><%= t("result") %>:</label></td>
        <td width="20%;">
          <%= details.message %>
        </td>
        <td width="15%;"><label><%= t("amount") %>:</label></td>
        <td width="20%;">
          <%= number_to_currency details.params["gross_amount"] %>
        </td>
      </tr>
      <tr>
        <td><label><%= t("comment") %>:</label></td>
        <td colspan="3">
          <%= details.params["message"] %>
        </td>
        <td><label><%= t("status") %>:</label></td>
        <td>
          <%= details.params["payment_status"] %>
        </td>
      </tr>
      <% if details.params["payment_status"] == "Pending" %>
        <tr>
          <td><label><%= t("pending_reason") %>:</label></td>
          <td colspan="5">
            <%= details.params["pending_reason"] %>
          </td>
        </tr>
      <% end %>
    </table>
  <% end %>

</fieldset>